/* Basic styles */
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    font-size: $font-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header {
    &__title {
        font-size: 23px;
        font-weight: 200;    
        margin: 20px 5px;
        &--highlight {
            font-weight: 600;
            display: flex;
            justify-content: center;
        }
    }
    &__content {
        color: $light-blue;
        margin: 15px 10px 30px 10px;
    }
}

.card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: $shadow;
    height: 250px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    &__title {
        font-weight: 700;
        color: $dark-blue;
    }
    &__paragraph {
        color: $light-blue;
        font-weight: 400;
    }
    &--cyan {
        background: content-box bottom right no-repeat url('../images/icon-supervisor.svg');
        border-top: 4px solid $primary-cyan;
    }
    &--red {
        background: content-box bottom right no-repeat url('../images/icon-team-builder.svg');
        border-top: 4px solid $primary-red;
    }
    &--orange {
        background: content-box bottom right no-repeat url('../images/icon-karma.svg');
        border-top: 4px solid $primary-orange;
    }
    &--blue {
        background: content-box bottom right no-repeat url('../images/icon-calculator.svg');
        border-top: 4px solid $primary-blue;
    }
}
.footer {
    font-size: 12px;
    margin: 10px;
    &__paragraph {
        color: $light-blue;
        
    }
    &__link {
        color: $dark-blue;
        text-decoration: none;
    }
}

@media only screen and (min-width: 1300px) {
    body {
        margin: 10px 50px;
    }
    .main {
        display: flex;
    }
    .single-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.333%;
    }
    .double-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 33.333%;
    }
}