/* Primary colors */
$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

/* Neutral colors */

$dark-blue: hsl(234, 12%, 34%);
$light-blue: hsl(229, 6%, 66%);

/* Typgraphy */
$font: Poppins;
$font-size: 15px;

/* Additional tools */
$shadow: 0px 30px 70px -30px rgba(0,0,0,0.75);